h1,h2 {
text-align: center;
}

body {
background-color: blue;
margin-top: 1em;
margin-right: 1em;

}

p {
font-size: 18px;
padding: 10px;

}

nav {
background: #2ba0db  ;
display: flex;
}

nav ul {
font-size: 0;
margin: 0;
padding: 0;
}

nav ul li {
display: inline-block;
position: relative;
}

nav ul li a {
color: #fff;
display: block;
font-size: 14px;
padding: 15px 14px;
transition: 0.3s linear;
}

nav ul li:hover {
background: #126d9b  ;
}

nav ul li ul {
border-bottom: 5px solid #2ba0db  ;
display: none;
position: absolute;
width: 250px;
}

nav ul li ul li {
border-top: 1px solid #444;
display: block;
}

nav ul li ul li:first-child {
border-top: none;
}

nav ul li ul li a {
background: #373737  ;
display: block;
padding: 10px 14px;
}

nav ul li ul li a:hover {
background: #126d9b  ;
}

#dropdown {
  z-index: 2;
  display: none;
}

#logoimage {
  float: left;
}

#container {
  display: flex;

.icons.info {
  padding-left: 2em;
}

.flex-container {
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin: 1em;
 }

 .flex-item {
   
   padding: 5px;
   width: 400px;
   height: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 150px;
   color: white;
   font-weight: bold;
   font-size: 3em;
   text-align: center;
   border-radius: 10px;
 }

 
 #clothes {
  background-color: red;
  float: left;
  width: 30%;
  margin-top:10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 20px;
 }

.align {
  display: flex;
  justify-content: center;
}

#sidebox {
  border: solid black;
}

.carousel-control.right {
  background-image: rgba(251, 1, 1, 0.5) 100%);;
}



